@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
  @apply hidden;
}

@layer base {
  @font-face {
    font-family: "Poppins Reguler";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  }

  html {
    font-family: "Poppins Reguler";
  }
}
